*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

.navbar{
  background-color: rgba(255, 255, 255);
}
.navbar a .blue {
  color: rgb(30, 129, 176);
}

.material-symbols-outlined {
  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 48
}

.nav-link{
  color: black;
  font-style: 1rem;
  font-weight: 700;
  cursor: pointer;
  text-decoration: none;
}

.nav-link:hover{
  color: white;
  background-color: rgb(30, 129, 176);
}

.navbar-brand{
  font-size: 2rem;
  font-weight: 900;
  color: black;
  cursor: pointer;
  text-decoration: none;
}

.landing{
  background: url(./img/bg-home.png) no-repeat;
  background-size: cover;
  display: flex;
  background-position: center;
  height: 100vh;
}

.landing h3{
  font-size: 4.4rem;
  font-weight: 700;
  padding: 0;
  margin: 0;
}

.landing h6 {
  font-size: 1.4rem;
  text-transform: uppercase;
  line-height: 1;
  letter-spacing: .009rem;
  border-bottom: 3px solid rgb(233, 20, 109);
  width: 56%;
}

.landing .bt1{
  height: 55px;
  width: 138px;
  background-color: rgb(30, 129, 176);
  color: white;
  outline: none;
  border: none;
  font-weight: bold;
  border-radius: 5px;
}

.landing .bt1:hover{
  background-color: rgb(20, 129, 176);
  transition: 0.5s;
}

.landing .bt2{
  height: 55px;
  width: 138px;
  background-color: transparent;
  color: rgb(30, 129, 176);
  outline: none;
  border: 1px solid rgb(30, 129, 176);
  font-weight: bold;
  border-radius: 5px;
}

.landing .bt2:hover{
  background-color: rgb(30, 129, 176);
  transition: 0.5s;
  color: white;
}

.about img{
  border: 5px solid rgb(30, 129, 176);
  border-width: 10px;
  border-radius: 100%;
  width:  100%;
  height: 100%;
  -webkit-box-shadow: 100px 4px 41px -24px rgba(0,0,0,0.75);
  -moz-box-shadow: 100px 4px 41px -24px rgba(0,0,0,0,75);
  box-shadow: 10px 4px 41px -24px rgba(0,0,0,0.75);
}

h1{
  font-size: 3rem;
  font-weight: 900;
}

h1 .blue{
  color: rgb(30, 129, 176);
}

.progress{
  background-color: rgb(233, 219, 219);
  justify-content: flex-start;
  border-radius: 50px;
  align-items: center;
  position: relative;
  display: flex;
  height: 25px;
  width: 100%;
  -webkit-box-shadow: inset 23px 40px 97px -159px rgba(0,0,0,0.75);
  -moz-box-shadow: inset 23px 40px 97px -159px rgba(0,0,0,0.75);
  box-shadow: inset 23px 40px 97px -159px rgba(0,0,0,0.75);
}

.pro-value1{
  animation: load1 3s normal forwards;
  border-radius: 50px;
  background-color: rgb(30, 129, 176);
  height: 25px;
  width: 0;
}

.progress p{
  color: white;
  padding: 12px;
}

.pro-value2{
  animation: load2 3s normal forwards;
  border-radius: 50px;
  background-color: rgb(30, 129, 176);
  height: 25px;
  width: 0;
}

.pro-value3{
  animation: load3 3s normal forwards;
  border-radius: 50px;
  background-color: rgb(30, 129, 176);
  height: 25px;
  width: 0;
}

.pro-value4{
  animation: load4 3s normal forwards;
  border-radius: 50px;
  background-color: rgb(30, 129, 176);
  height: 25px;
  width: 0;
}

.pro-value5{
  animation: load5 3s normal forwards;
  border-radius: 50px;
  background-color: rgb(30, 129, 176);
  height: 25px;
  width: 0;
}

.pro-value6{
  animation: load6 3s normal forwards;
  border-radius: 50px;
  background-color: rgb(30, 129, 176);
  height: 25px;
  width: 0;
}

.pro-value7{
  animation: load7 3s normal forwards;
  border-radius: 50px;
  background-color: rgb(30, 129, 176);
  height: 25px;
  width: 0;
}

@keyframes load1 {
  0%{
    width: 0;
  }
  100%{
    width: 90%;
  }
}

@keyframes load2 {
  0%{
    width: 0;
  }
  100%{
    width: 80%;
  }
}

@keyframes load3 {
  0%{
    width: 0;
  }
  100%{
    width: 65%;
  }
}

@keyframes load4 {
  0%{
    width: 0;
  }
  100%{
    width: 75%;
  }
}

@keyframes load5 {
  0%{
    width: 0;
  }
  100%{
    width: 95%;
  }
}

@keyframes load6 {
  0%{
    width: 0;
  }
  100%{
    width: 67%;
  }
}

@keyframes load7 {
  0%{
    width: 0;
  }
  100%{
    width: 85%;
  }
}

#services {
  background-color: whitesmoke;
}

.icon i{
  font-weight: 900;
  font-size: 6rem;
  color: rgb(30, 129, 176);
}

.iconc i{
  font-weight: 900;
  font-size: 1.5rem;
  color: rgb(30, 129, 176);
}

.btn{
  background-color: rgb(30, 129, 176);
  color: whites;
}